.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.main__logo {
  margin-top: 1rem;
}

.main__logo img {
  width: 128px;
  height: 128px;
}

.main__description {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.main__description p {
  text-align: center;
  margin: 0 9rem;
}

@media screen and (max-width: 1280px) {
  .main__description p {
    margin: 0 3.5rem;
  }
}

.tooltip {
  position: relative;
  border-bottom: 2px dotted black;
  cursor: pointer;
}

.tooltip__text {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 15rem;
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.tooltip__text::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  border: 15px solid;
  border-color: #000 #0000 #0000 #0000;
}

.tooltip:hover .tooltip__text {
  top: -525%;
  visibility: visible;
  opacity: 1;
}

.main__comment-block {
  width: 100%;
  background-color: #3e3c3c;
  padding-top: 1.75rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

@media screen and (max-width: 1280px) {
  .main__comment-block {
    /* padding-top: 1rem; */
    padding-bottom: 2rem;
  }
}

.main__comment-block p {
  color: #DADADA;
  text-align: center;
  font-weight: 300;
  padding-bottom: 4rem;
}

@media screen and (max-width: 1280px) {
  .main__comment-block p {
    padding-bottom: 2rem;
  }
}

.main__comment-block form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__user-info {
  margin-bottom: 1.5rem;
}

.form__user-info input[type='text'] {
  
  padding: 0.3rem 0;
  padding-left: 0.5rem; 
}

@media screen and (max-width: 1280px) {
  .form__user-info input[type='text'] {
    width: 14.5rem;
  }
}

.main__comment-block form textarea {
   padding: 0.25rem 0.5rem;
}

@media screen and (max-width: 1280px) {
  .main__comment-block form textarea {
    width: 29.5rem;
    height: 7rem;
  }
}

.main__comment-block form textarea::placeholder {
  font-family: 'Roboto', Arial, Helvetica, sans-serif !important;
  text-align: center;
  padding-top: 3.5rem;
}

@media screen and (max-width: 1280px) {
  .main__comment-block form textarea::placeholder {
    padding-top: 2.25rem;
  }
}

.main__comment-block form button {
  margin-top: 3rem;
  padding: 0.5rem 0.8rem;
  background: white;
 }

@media screen and (max-width: 1280px) {
  .main__comment-block form button {
    margin-top: 1.5rem;
  }
}
