.main {
  width: 50%;
  flex-grow: 1;
}

@media screen and (max-width: 1280px) {
  .main {
    width: 80%;
  }

  .login-changing, 
  .password-changing {
    justify-content: space-evenly;
  }
}

.login-changing {
  margin-top: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.password-changing {
  margin-top: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.button-group {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.button-group > * {
  margin-top: 0.75rem;
}

input[type='text'],
input[type='password'] {
  max-width: 15rem;
  font-size: large;
  padding: 0.4rem 0.75rem;
  border: 3px solid black;
  border-radius: 10px;
}

button {
  width: 15rem;
  font-size: large;
  background-color: white;
  padding: 0.4rem 0.75rem;
  border: 3px solid black;
  border-radius: 10px;
  cursor: pointer;
}
