/* Footer */
.footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.75rem;
  padding: 0 6.5rem;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1280px) {
  .footer {
    padding: 0 3rem;
  }
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__copyright {
  margin-left: auto;
}
