/* Header */
.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.75rem;
  padding: 0 6.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1280px) {
  .header {
    padding: 0 3rem;
  }
}

.header__logo a {
  display: flex;
  align-items: center;
}

.header__button-group {
  display: flex;
  justify-content: center;
  margin-left: auto;
}

.header__button {
  text-decoration: none;
  color: black;
  padding-left: 3rem;
}

@media screen and (max-width: 1280px) {
  .header__button {
    padding-left: 1.5rem;
  }
}

.header__select {
  border: none;
  appearance: none;
  background: url('../imgs/select-arrow.svg') no-repeat center right;
  padding-right: 1.25rem;
  border: none;
}

@media screen and (max-width: 1280px) {
  .header__select {
    padding-right: 1rem;
  }
}
