.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 17rem;
  flex-grow: 1;
}

.main__header {
  font-size: 65pt;
  letter-spacing: 0.06em;
  margin-bottom: 4rem;
}

.main__text {
  font-size: 30pt;
}
