/* Main */
.main {
  max-width: 90%;
  display: grid;
  /* align-items: center; */
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  flex-grow: 1;
}

.main > * {
  margin-top: 1rem;
}

/* Main, right column */
.registration__text,
.login__text {
    text-align: center;
 }

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > * {
  margin-top: 1.5rem;
}

.radio-group__title {
  text-align: center;
  font-size: large;
  margin-bottom: 0.5rem;
}

form input[type='text'],
form input[type='password'] {
  max-width: 15rem;
  font-size: large;
  padding: 0.4rem 0.75rem;
 
}

.registration__radio-group label {
  font-size: large;
  margin: 0 0.25rem;
}

.registration__radio-group input[type='radio'] {
  width: 1rem;
  height: 1rem;
  border: 2px solid black;
  color: black;
  border-radius: 50%;
  cursor: pointer;
}

form button {
  width: 15rem;
  font-size: large;
  background-color: white;
  padding: 0.7rem 0.75rem;
   cursor: pointer;
}

/* Main, center column */
.picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.picture__text {
  margin-top: 1rem;
   text-align: center;
}

/* Main, left column */

.login button {
  width: 7rem;
  margin-top: 3rem;
}

@media screen and (max-width: 1280px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main > * {
    margin: 0 0 2rem;
  }

  .login {
    margin-top: 1rem;
  }

  .picture {
    margin-bottom: 1rem;
  }

  .picture__content {
    display: flex;
    justify-content: center;
  }

  .picture__content img {
    width: 75%;
  }

  .picture__text {
    font-size: 20pt;
  }
}
