.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  margin-bottom: 3rem;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #3e3c3c;
  padding: 0 2rem;
}

.carousel__content {
  display: flex;
  justify-content: center;
  margin: 0 2.25rem;
}

@media screen and (max-width: 1280px) {
  .carousel__content {
    margin: 0;
  }
}

.carousel__content img {
  width: 90%;
}

.carousel__button {
  color: black;
  background-color: #3e3c3c;
  border: none;
  cursor: pointer;
}

.carousel__button_inactive {
  pointer-events: none;
  opacity: 0;
}

.like-button__wrapper {
  width: 100%;
  display: flex;
  justify-content: end;
  background-color: #3e3c3c;
}

.like-button__content {
  margin: 1rem 6rem 0;
  background-color: #3e3c3c;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .like-button__content {
    margin: 0.5rem 3rem 0;
  }
  
  .like-button__content img {
    width: 4rem;
  }
}

.cats {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.cats li {
  margin-left: -4rem;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

@media screen and (max-width: 1280px) {  
  .cats li {
    margin-left: -2rem;
  }

  .cat__photo img {
    width: 10rem;
  }

  .large_font {
    font-size: 4rem;
  }

  .usual_font {
    font-size: 1.2rem;
  }

  .small_font a {
    font-size: 0.9rem;
    font-weight: 500;
  }
}

.cat__controls {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.cat__info {
  width: 55%;
  margin-left: 1.5rem;
}

.cats li:first-child {
  position: relative;
}

.cats li:first-child::before {
  width: 100%;
  height: 35%;
  background-color: #3e3c3c;
  content: '';
  position: absolute;
  display: block;
  z-index: -1;
}

@media screen and (max-width: 1280px) {
  .cats li:first-child::before {
    height: 31%;
  }
}

.cat__description {
  margin-top: 0.75rem;
}

.cat__checkbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: large;
  margin-top: 0.25rem;
}

.cat__checkbox input[type='checkbox'] {
  display: none;
}

.fake-checkbox {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  cursor: pointer;
}

.fake-checkbox::before {
  content: '';
  position: absolute;
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  padding-left: 1.2rem;
  padding-top: 1.2rem;
  background: url('../imgs/checkmark.svg') no-repeat center;
  opacity: 0;
  transition: 0.2s;
}

.cat__checkbox input[type='checkbox']:checked + .fake-checkbox::before {
  opacity: 1;
}

.checkbox__title {
  margin-top: 0.5rem;
}

.checkbox__label {
  display: inline-flex;
  align-items: center;
  margin-top: 0.4rem;
}

.checkox__text {
  margin-left: 0.75rem;
}

.cat__button {
  padding: 0.6rem;
  background-color: white;
  margin-left: auto;
  margin-top: 1rem;
  /* margin-right: 12.5rem; */
  margin-right: 15%;
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .cat__button a {
    width: 100%;
  }
}


.cat__button a {
  text-decoration: none;
  color: black;
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.modal-container.modal-container_show {
  pointer-events: auto;
  opacity: 1;
}

.modal-container__content {
  padding: 3rem 3.5rem;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  
}

.modal-container__button-group {
  margin-top: 1rem;
}

.modal-container__button-group button {
  margin: 0 0.5rem;
  padding: 0.6rem 0.75rem;
  background-color: white;
  
  cursor: pointer;
}
