/* @font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Regular.ttf') format('ttf');
} */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local(''),
    url('../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-100.woff2')
      format('woff2'),
    url('../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-100.woff')
      format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local(''),
    url('../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-300.woff2')
      format('woff2'),
    url('../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-300.woff')
      format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-regular.woff2')
      format('woff2'),
    url('../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-regular.woff')
      format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-500.woff2')
      format('woff2'),
    url('../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-500.woff')
      format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-700.woff2')
      format('woff2'),
    url('../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-700.woff')
      format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local(''),
    url('../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-900.woff2')
      format('woff2'),
    url('../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-900.woff')
      format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.large_font {
  font-size: 4rem;
  font-weight: 400;
  color: #D9A557;
  padding-top: 1rem;
  /* -webkit-text-fill-color: #e0dfdf; */
  /* -webkit-text-stroke: 5px; */
}

.medium_font {
  font-size: 2rem;
}

.usual_font {
  font-size: 1.4rem;
}

.small_font a {
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
  font-family: Roboto;
}

.small_font {
  font-size: 1.1rem;
}

.bordered {
  border: 2px solid black;
  border-radius: 10px;
}