.main {
  flex-grow: 1;
  height: 100%;
  height: fit-content;
  /* width: 100vw; */
  /* width: 99.1vw; */
}

.content_main {
  display: grid;
  grid-template-columns: 333fr 1553fr;
  column-gap: 2rem;
  min-height: 100vh;
  height: max-content;
}

@media screen and (max-width: 1280px) {
  .content_main {
    grid-template-columns: 1fr 30fr;
    column-gap: 0;
  }
}

.menu {
  display: flex;
  background-color: #D9A557;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 3rem 2.5625rem;
}

@media screen and (max-width: 1280px) {
  .menu {
    padding: 0;
    width: 4rem;
  }
}

.content_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  gap: 2rem;
}

@media screen and (max-width: 1280px) {
  .content_menu {
    display: none;
  }
}

.choice_menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.teg_menu {
  display: inline-flex;
  gap: 0.5rem;
}

.teg_name {
  color: #1a1818;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 27px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #946d37;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 22px;
  width: 22px;
  left: 3.2px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: white;
}

input:checked + .slider:before {
  transform: translateX(24px);
  background-color: #946d37;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.cat__button {
  padding: 0.5rem;
  background-color: white;
   width: 100%;
  cursor: pointer;
}

form button {
  border: none;
  background-color: inherit;
}

form .cat__button {
  margin-top: 1rem;
}

form a {
  text-decoration: none;
  color: #000000;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 187px 0px 128px;
  gap: 42px;
  margin-top: 2.5625rem;
  margin-bottom: 2.5625rem;
}

@media screen and (max-width: 1280px) {
  .content {
    padding: 0 3rem;
  }
}

.content_top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 42px;
  justify-content: space-between;
  width: 100%;
}

.content_page {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
}

.non_active {
  color: #555555;
}

.active {
  cursor: pointer;
}

.search_enter_box {
  /* display: none; */
  /*display: inline-flex;*/
  gap: 1rem;
  align-items: center;
}

.search_enter_box button {
  display: none;
}

.search_enter {
  width: 12.75rem;
  height: 2.5rem;
  color: #696969;
  padding: 0.6rem;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.search {
  display: inline-flex;
  gap: 1rem;
  color: #696969;
  padding: 0 0.6rem;
  background-color: white;
  cursor: pointer;
}

.content_page {
  width: 20pt;
  height: 13pt;
}

.content_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 3.5rem;
  gap: 2rem;
  width: 100%;
  border: 1px solid #000000;
  border-radius: 10px;
}

@media screen and (max-width: 1280px) {
  .content_box {
    padding: 1.5rem 2.75rem;
  }
}

.content_box_name {
  display: inline-flex;
  gap: 2rem;
  width: 100%;
  justify-content: space-between;
}

.content_box_status {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.content_box_status_element {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.content_box_vector {
  height: 1.125rem;
}

.content_box_bottom {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  position: fixed;
  width: 5.625rem;
  height: 5.625rem;
  left: 5vw;
  top: 75vh;
}

.hamburger {
  display: none;
  position: absolute;
  color: white;
  font-size: 30pt;
  left: 1.35rem;
  cursor: pointer;
  border: none;
  background-color: inherit;
}

.hamburger-menu {
  display: none;
  position: absolute;
  width: 320px;
  height: 100%;
  padding: 3rem 2.5625rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media screen and (max-width: 1280px) {
  .arrow {
    left: 0.75rem;
    top: 39.5rem;
  }

  .arrow img {
    width: 2.75rem;
    height: 2.75rem;
  }

  .hamburger {
    position: absolute;
    display: block;
    top: 0.5rem;
    left: 0.9rem;
  }

  .main {
    position: relative;
  }
}
