.main {
  margin-top: 2.5rem;
  margin-bottom: 4rem;
  width: 77%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  flex-grow: 1;
}

@media screen and (max-width: 1280px) {
  .main {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 90%;
  }
}

.post-title {
  display: flex;
  align-items: center;
}

.post-title__text {
  font-size: 60pt;
  letter-spacing: 0.06em;
}

@media screen and (max-width: 1280px) {
  .post-title__text {
    font-size: 30pt;
    font-weight: 500;
  }
}

.post-title__date {
  margin-left: auto;
  font-weight: 600;
}

.section {
  margin-top: 2.75rem;
}

@media screen and (max-width: 1280px) {
  .section {
    margin-top: 2rem;
  }
}

.title {
  margin-bottom: 1.5rem;
  font-size: 26pt;
}

@media screen and (max-width: 1280px) {
  .title {
    margin-bottom: 1rem;
    font-size: 22pt;
  }
}

.description__text {
  font-size: 18pt;
}

@media screen and (max-width: 1280px) {
  .description__text {
    font-size: 16pt;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
}

.gallery__content {
  display: inline-flex;
  list-style-type: none;
}

@media screen and (max-width: 1280px) {
  .gallery__content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    /* flex-direction: column; */
  }
}
.gallery__content li {
  margin-right: 0.4rem;
}

@media screen and (max-width: 1280px) {
  .gallery__content li {
    margin-bottom: 0.2rem;
  }
}

#img-to-zoom {
  cursor: pointer;
}

.gallery__content li img {
  /* width: 270px; */
  height: 200px;
}

.video video {
  height: 15rem;
  width: 35rem;
}

@media screen and (max-width: 1280px) {
  .video video {
    height: 13rem;
    width: 30rem;
  }
}

.tags {
  display: inline-flex;
  align-items: center;
}

.tags .title {
  margin: 0;
}

.tag-list {
  margin-left: auto;
  display: flex;
  list-style-type: none;
}

.tag-list li {
  font-size: 18pt;
  margin-left: 1rem;
  font-weight: 500;
}

.reactions {
  display: inline-flex;
}

.likes {
  align-items: center;
  margin-bottom: 1.5rem;
  margin-left: auto;
  display: inline-flex;
}

.likes .counter {
  font-size: 16pt;
  font-weight: 600;
  margin-right: 0.75rem;
}

.like__image img {
  width: 30px;
  height: 30px;
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.modal-container img {
  height: 93vh;
}

@media screen and (max-width: 1280px) {
  .modal-container img {
    height: 55vh;
  }
}

.modal-container.modal-container_show {
  pointer-events: auto;
  opacity: 1;
}
